.homeContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.headerSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #290742;
  padding: 64px 16px;

  border-bottom: 6px solid #4fff4b;

  flex-direction: column;
}

.headerBanner {
  display: flex;
  width: 100%;
  margin-top: 64px;
  max-width: 1170px;
  justify-content: space-between;

  div {
    margin-right: 30px;

    a {
      font-size: 36px;
      font-family: Poppins;
      color: #9e6dc2;
      font-weight: bold;
      max-width: 569px;
      line-height: 54px;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      font-size: 18px;
      font-family: Roboto;
      color: #fbf6ff;
      line-height: 27px;
      margin-top: 16px;
      max-width: 469px;
    }
  }

  img {
    width: 100%;
    max-width: 570px;
  }

  @media (max-width: 1016px) {
    align-items: center;
    flex-direction: column;
    justify-content: center;

    div {
      margin-right: 0px;
      display: flex;
      align-items: center;
      flex-direction: column;

      a {
        display: block;
        max-width: 500px;
        text-align: center;
      }

      p {
        text-align: center;
      }
    }

    img {
      margin-top: 30px;
    }
  }
}

.postsSection {
  width: 100%;
  height: 100%;
  background: #fbf6ff;
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 64px 16px;

  > div {
    width: 100%;
    max-width: 1170px;

    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 1000px) {
    > div {
      align-items: center;
      flex-direction: column;
    }

    .mainPost {
      margin-right: 0;
    }

    .asidePosts {
      width: 100%;
      max-width: 569px;

      margin-top: 32px;
    }
  }
}

.divider {
  background: #f2e7fa;
  height: 1px;
  margin: 24px 0;
}

.mainPost {
  display: flex;
  flex-direction: column;
  margin-right: 16px;

  width: 100%;
  max-width: 569px;

  img {
    width: 100%;
  }

  p {
    max-width: 569px;
  }
}

.asidePosts {
  max-width: 472px;
}

.footerPosts {
  margin-top: 72px;

  @media (max-width: 1150px) {
    display: flex;
    flex-direction: column;
    align-items: center;

    .footerPostContainer + .footerPostContainer {
      margin-top: 16px;
    }

    .footerPostContainer {
      width: 100%;
      max-width: 569px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.footerPostContainer {
  display: flex;
  flex-direction: column;

  width: 370px;

  img {
    width: 370px;
    height: 260px;
  }
}
