.headerSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #290742;
  padding: 64px 16px;

  border-bottom: 6px solid #4fff4b;

  flex-direction: column;
}
