.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1170px;
  width: 100%;

  @media (max-width: 900px) {
    flex-direction: column;

    nav {
      margin-top: 16px;
    }

    .inputContainer {
      margin-top: 32px;
    }
  }
}

.inputContainer {
  display: flex;
  align-items: center;

  input {
    border: none;
    border: 2px solid #170027;
    background: #170027;
    width: 230px;
    height: 44px;
    padding: 0 26px 0 26px;
    border-radius: 4px 0 0 4px;
    color: #fbf6ff;
    font-family: Roboto;
    font-size: 14px;
    transition: border-color 0.3s;

    &::placeholder {
      color: #fbf6ff;
    }

    &:focus {
      border: 2px solid #9e6dc2;
      border-right: #170027;
    }
  }

  button {
    width: 70px;
    height: 44px;
    background: #9e6dc2;
    border: none;
    border-radius: 0 4px 4px 0;
    transition: opacity 0.3s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      opacity: 0.7;
    }
  }
}
